.big{
    height: 300px;
    width: 600px;
    background-color: wheat;
    margin-left: 28%;
    margin-top: 200px;
    display: flex;
   
    
   
  
}
.a{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    margin-left: 32px;
    margin-top: 70px;
 
}
.one button{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;

    background-color: aqua;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.two button{
    width: 120px;
    height: 50px;
    border-radius: 20px;

    margin-right: 30px;
    margin-left: 30px;

    background-color: rgb(255, 0, 200);

    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
 
}
.three button{
    width: 120px;
    height: 50px;
    border-radius: 20px;

    margin-right: 30px;
    margin-left: 30px;

    background-color: rgb(187, 18, 243);
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.four button{
    width: 120px;
    height: 50px;
    border-radius: 20px;

    margin-right: 30px;
    margin-left: 30px;

    background-color: rgb(255, 153, 0);

    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.five button{
    width: 120px;
    height: 50px;
    border-radius: 20px;

    margin-right: 30px;
    margin-left: 30px;

    background-color: rgb(119, 74, 234);

    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.six button{
    width: 120px;
    height: 50px;
    border-radius: 20px;

    margin-right: 30px;
    margin-left: 30px;

    background-color: rgb(71, 243, 19);

    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}


.b{
    display: flex;
   
    margin-bottom: 10px;
  
    margin-top: 187px;
    margin-right: -358px;
    margin-right: -360px;

    margin-left: -538px;
   
}
.a button:hover{
    background-color: rgb(214, 241, 5);
    border-radius: 3px;
    border-color: violet;
}
.b button:hover{
    background-color: red;
    border-color: rgb(6, 204, 211);
    border-width: 5px;
}

@keyframes changeColor {
    0% { background-color: red; }
    50% { background-color: blue; }
    100% { background-color: rgb(8, 189, 8); }
  }
  
   .big{
    
    animation: changeColor 3s infinite;
    box-shadow: 0px 0px 40px rgb(2, 176, 245);

    
  }
 
